/* CSS for ChiliPeppr Widget */

#com-senscape-widget-bootloader {
   
}

#com-senscape-widget-bootloader .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-senscape-widget-bootloader .bootloader-buttons{
    padding:10px;
    
}

.progress {
    background-color:#ddd;
    width:30%;
    float:left;
}

.btn-group {
    float:left;
}

.panel-body {
    overflow: hidden; /* add this to contain floated children */
}

