/* CSS for ChiliPeppr Widget */

#com-senscape-widget-bootloader {
   
}

#com-senscape-widget-bootloader .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-senscape-widget-bootloader .bootloader-buttons{
    padding:10px;
    
}



.progress {
    background-color:#ddd;
    width:30%;
    float:left;
    /*padding-left:10px;*/
}


.btn-group {
    width:20%;
    float:left;
    margin:0px 4px 0px 0px;
}

.panel-body {
   /* overflow: hidden; /* add this to contain floated children */
}

.btn-group, .progress{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

