/* CSS for ChiliPeppr Widget */

#com-senscape-widget-bootloader {
   
}

#com-senscape-widget-bootloader .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-senscape-widget-bootloader .bootloader-buttons{
    padding:10px;
    
}


.progress {
    background-color:#ddd;
  /* float:right; */
    width: 100%;
    height: 100%;
    /*padding-left:10px;*/
}

.progress-bar {
    width:0%;
    height:100%;
    font-size: 20px;
}


.btn-group {
    /* float:left; */
    /*margin:0px 4px 0px 0px;*/
}

.panel-body {
}


