/* CSS for ChiliPeppr Widget */

#com-senscape-widget-bootloader {
   
}

#com-senscape-widget-bootloader .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-senscape-widget-bootloader .bootloader-buttons{
    padding:10px;
    
}

.progress, .btn-group {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.progress {
    background-color:#ddd;
    width:50%;
    display:inline-block;
   /* float:left; */
    /*padding-left:10px;*/
}


.btn-group {
    /* float:left; */
    width:20%;
    display:inline-block;
    margin:0px 4px 0px 0px;
}

.panel-body {
    overflow: hidden; /* add this to contain floated children */
}


