/* CSS for ChiliPeppr Widget */

#com-senscape-widget-bootloader {
   
}

#com-senscape-widget-bootloader .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-senscape-widget-bootloader .bootloader-buttons{
    padding:10px;
    
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.progress {
    background-color:#ddd;
    width:30%;
    float:left;
}

#wrapper {
    width: 100%;
    border: 1px solid black;
}

.btn-group {
    float:left;
    marign:4px 4px 4px 4px:
}

.panel-body {
   /* overflow: hidden; /* add this to contain floated children */
}

.btn-group, .progress{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

