/* CSS for ChiliPeppr Widget */

#com-senscape-widget-bootloader {
   
}

#com-senscape-widget-bootloader .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-senscape-widget-bootloader .bootloader-buttons{
    padding:10px;
    
}

#reprog {
    margin-top: 10px;
}


.progress {
    height: 34px;
    line-height: 34px;
    background-color:#ddd;
  /* float:right; */
    width: 100%;
    font-size: 14px;
    /*padding-left:10px;*/
    margin-bottom: 10px;
    margin-top: 10px;
    text-align:center;
}

#progbar {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    width:0%;

}

#irideon {
    font-size: 9px;
}


.btn-group {
    /* float:left; */
    /*margin:0px 4px 0px 0px;*/
}

.panel-body {
}


#nvbr {
    background-color:#444d5d;
    padding-top: 0;
    padding-bottom: 0;
}

.logo-img{
    float: left;
    margin: 0px 0px 0px 0px; /* fixed the spacing. */
}

.navbar-nav > li .active >  a {
    margin-right: 2px;
}

.navbar-default .navbar-nav > li > a {
    color: #b2bbbd;
    margin-right: 2px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    margin-top:10px;
    line-height: 0px;
    border-radius:3px;
    margin-right: 2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
    margin-top:10px;
    line-height: 0px;
    border-radius:3px;
}

.navbar-default .navbar-nav > li > a:focus  {
    margin-top:10px;
    line-height: 0px;
    border-radius:3px;
}

