/* CSS for ChiliPeppr Widget */

#com-senscape-widget-bootloader {
   
}

#com-senscape-widget-bootloader .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-senscape-widget-bootloader .bootloader-buttons{
    padding:10px;
    
}

.progress-bar {
    background-color:#ddd;
}

